<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Rosa Tapetes Artesanais</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/catalog">Catálogo</a></li>
            <li><a href="/contact">Contato</a></li>
        </ul>
    </nav>
    <main>
        <h2>Entre em Contato</h2>
        <p>Telefone: (+55) 48 9946-8708</p>
        <p>Endereço: Rua Karl Marx, 185, Criciúma, SC</p>
        
        <p>Siga-nos no
            <a href="https://www.instagram.com/rosa_tapetes_artesanais" target="_blank">Instagram</a>
        </p>
        
        <!-- Link para o WhatsApp -->
        <p>Entre em contato conosco pelo
            <a href="https://wa.me/554899468708" target="_blank">WhatsApp</a>
        </p>
    </main>
    <footer>
        <p>© 2024 Catálogo de Tapetes</p>
    </footer>
</body>
</html>
